<div class="container">

  <div id="image-draw-map">


  </div>


  <div class="file-upload">
    <label for="image">
      Upload billede
    </label>
    <input #image
           type="file"
           accept="image/*"
           id="image"
           (change)="handleImageUpload($event)"
           capture>
  </div>

  <div class="drawing-upload">

    <label for="drawing-geojson">
      Upload tegning
    </label>
    <input type="file"
           name="drawing"
           id="drawing-geojson"
           (change)="handleDrawingUpload($event)">
  </div>


  <button id="download"
          (click)="downloadGeojson()">Download tegning</button>


</div>
